[Unit]
Description=GlusterFS support for Docker Volumes
Documentation=https://github.com/watson81/docker-volume-glusterfs
After=network.target firewalld.service
Before=docker.service

[Service]
Type=simple
EnvironmentFile=/etc/docker-volume-glusterfs.conf
ExecStart=/usr/local/sbin/docker-volume-glusterfs -servers ${DVGFS_SERVERS}
KillSignal=SIGINT

[Install]
Alias=docker-glusterfs.service
WantedBy=multi-user.target docker.service
